<div class="box-formulario">        
        
    <div class="formulario">
        
        <div class="box-title">
          <h2 class="title">Cadastro de cliente
          </h2>
        </div>
        <form #clienteForm="ngForm" (ngSubmit) = "onSubmit()">
            <div *ngIf ="sucesso == true ">
                <p style="color:green;">Cliente Salvo com sucesso</p>
            </div> 
            <div *ngIf ="sucesso == false ">
                <p style="color:red;">{{erro}}</p>
            </div>

            <span>
                <input  [(ngModel)] = "cliente.nome" type="text" class="input-card" id="nome" name="nome" placeholder="Nome" autocomplete="off" />
                <label>Nome</label>
            </span>
            <span>
                <input [(ngModel)] = "cliente.cpf" type="text" class="input-card" id="cpf" name="cpf" placeholder="CPF" autocomplete="off" />
                <label>CPF</label>
            </span>
            <span *ngIf = "cliente.id">
                <input [(ngModel)] = "cliente.id" type="text" class="input-card" disabled = "true" name="id" autocomplete="off" />
                <label >ID</label>
            </span>
            <span *ngIf = "cliente.id">
                <input [(ngModel)] = "cliente.dataCadastro" type="text" class="input-card" disabled = "true" name="dataCadastro" autocomplete="off" />
                <label >Data de cadastro</label>
            </span>
            <div class="box-pulse" *ngIf="!cliente.id">
                 <button type="submit">Salvar cliente</button>
            </div>
            <div class="box-pulse" *ngIf="cliente.id">
                <button type="submit">Atualizar cliente</button>
           </div>
           <div class="box-pulse" (click)="voltar()">
            <button type="submit">Voltar</button>
       </div>
        </form>
    </div>
</div>
