<div class="box-formulario">        
        
    <div class="formulario">
        
        <div class="box-title">
          <h2 class="title">Cadastro de cliente
          </h2>
        </div>
            <div *ngIf ="sucesso == true ">
                <p style="color:green;">Cliente Salvo com sucesso</p>
            </div> 
            <div *ngIf ="sucesso == false ">
                <p style="color:red;">{{erro}}</p>
            </div>

            <h2>Formulário</h2>
  
  <form #clienteForm ="ngForm" (ngSumit) = "onSubmit()">
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" placeholder="Digite seu nome" [(ngModel)] = "cliente.nome">

    <label for="cpf">CPF</label>
    <input type="Cpf" id="email" name="cpf" placeholder="Digite seu cpf" [(ngModel)] = "cliente.cpf">

    <span *ngIf = "cliente.id">
        <label >ID</label>
        <input [(ngModel)] = "cliente.id" type="text" class="input-card" disabled = "true" name="id" autocomplete="off" />
    </span>
    <span *ngIf = "cliente.id">
        <label >Data de cadastro</label>
        <input [(ngModel)] = "cliente.dataCadastro" type="text" class="input-card" disabled = "true" name="dataCadastro" autocomplete="off" />
    </span>

    <div class="buttons">
      <input type="submit" value="Salvar cliente">
      <div class="box-pulse" *ngIf="cliente.id">
        <input type="submit" value="Atualizar cliente"> 
     </div>
      
    </div>
    <div class="box-pulse" (click)="voltar()">
        <input type="submit" value="Voltar">
   </div>
  </form>
    </div>
</div>
