<br>
<form #form = "ngForm" (ngSubmit)="onSubmit()">
    <br>
    <h3>{{cadastrando ? "Cadastrar novo usuário" : "entrar"}}</h3>
    <div>
        <span>
            <input [(ngModel)] = "login" name="login">
            <label>Login</label>
            
            <br>
        </span>
    </div>
    <span>
        <input [(ngModel)] = "senha" name="senha"/>
        <label>Senha</label>
        
        <br>
    </span>
    
    <div class="box-pulse" *ngIf="!cadastrando">
        <button type="submit">Entrar</button>
   </div>
    <div class="box-pulse" *ngIf="cadastrando">
        <button type="button" (click)="enviar()">Cadastrar</button>
   </div>
</form>
<div>
    <h5>Caso não possua cadastro, clique <a href="#"(click)="clicar($event)">aqui</a></h5>
</div>
