<br>
<div>
    <button class="add-button" routerLink="/clienteInserir"><i class="fas fa-plus"></i>Adicionar</button>
</div>
<div *ngIf="msgSucesso">
    <p> {{msgSucesso}} </p>
</div>
<div *ngIf="!msgSucesso">
    <p> {{msgErro}} </p>
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>ID</th>
            <th>DATA DE CADASTRO</th>
            <th>EDITAR</th>
            <th>EXCLUIR</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let cliente of clientes">
            <td> {{cliente.nome}} </td>
            <td> {{cliente.cpf}} </td>
            <td> {{cliente.id}} </td>
            <td> {{cliente.dataCadastro}} </td>
            <td><button class="edit-button" routerLink = "/clienteInserir/{{cliente.id}}"> <i class="fas fa-edit">Editar</i></button></td>
            <td><button class="delete-button" (click) = "excluir(cliente.id)"> <i class="fas fa-trash"></i>Excluir</button></td>
        </tr>
    </tbody>
    </table>
</div>
