h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
  }
  
  label {
    margin-right: 10px;
  }
  
  select {
    padding: 5px;
    font-size: 16px;
    margin-right: 5px;
  }
  
  button {
    font-size: 14px;
    background-color: green;
    color: #fff;
    border-radius:3px ;
    cursor: pointer;
  }
  
  button:hover {
    background-color: darkgreen;
  }

  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  table th, table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  table th {
    background-color: #f2f2f2;
  }

  .add-button {
    margin-bottom: 10px;
  }
  
  .add-button i,
  .edit-button i,
  .delete-button i {
    margin-right: 5px;
  }