<br>
<div class="container">
<form #form="ngForm" (submit)="onSubmit()">
    <div *ngIf ="sucesso == true ">
        <p style="color:green;">Cliente Salvo com sucesso</p>
    </div> 
    <div *ngIf ="sucesso == false ">
        <p style="color:red;">{{erro}}</p>
    </div>
    <select id="product-select" [(ngModel)]="servico.id" [ngModelOptions]={standalone:true}>
        <option value="">Selecione...</option>
        <option *ngFor="let cliente of clientes" [ngValue]="cliente.cpf"> {{ cliente.nome }}</option>
    </select>
    <br>
    <div>
        <span>
            <label for="description-input">Descricao</label>
            <br>
            <input type="text" class="input-card" id="description-input" name="nome" placeholder="Descição" autocomplete="off" [(ngModel)] ="servico.descricao"/>
        </span>
    </div>
    <span>
        <label for="price-input">Preco</label>
        <br>
        <input type="text" class="input-card" id="price-input" name="preco" placeholder="Preco" autocomplete="off" [(ngModel)] ="servico.valor"/>
    </span>
    <div class="submit-butto">
        <button type="submit">Enviar</button>
   </div>
</form>
</div>